---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="About"
    description="A little about Ethan Limchayseng."
    pubDate={new Date("2022-02-10")}
>
    <p>
        Hi, I'm Ethan. I use this blog to track random projects from my life
        from stuff in tech I mess with to fitness things like running and
        cycling.
    </p>
    <p>
        This blog started in 2022 as a way to work on writing and keep notes
        from races, training blocks, and side projects. It's now in its 2nd
        life.. originally a handbuilt Hexo blog running on Heroku, and now an
        Astro blog on Cloudflare Pages with a redesign I'm slowly making my own.
        I live in SF
    </p>
</Layout>
