---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A little about Ethan Limchayseng."
	pubDate={new Date('2022-02-10')}
>
	<p>
		Hi, I'm Ethan. I write about endurance sports (running, cycling, triathlon) and the
		software/product things I'm exploring along the way. This blog started in 2022 as a way to work
		on writing and keep notes from races, training, and side projects.
	</p>
	<p>
		If you want to get in touch, find me on the social links below.
	</p>
</Layout>
